@charset "UTF-8";

html {
    background-color: #dc0a2d;
    border: black 3px solid;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
}

#information {
    background-color: white;
    border: black 3px solid;
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#spriteandaudio {
    width: 300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#type1, #type2, li, h2 {
    text-transform: capitalize;
}

ul {
    text-align: left;
    margin: 0 auto;
    display: block;
}